---
// src/components/Footer.astro
---
<footer class="bg-[#1E2533] w-full text-center py-4">
    <div class="mx-auto flex flex-col items-center justify-center max-w-[275px] h-[250px] space-y-6">
      <!-- Nombre de la empresa -->
      <h2 class="text-[#999999] text-[11px] font-semibold">EMAG CONTRACTING</h2>
  
      <!-- Iconos de redes sociales -->
      <div class="flex items-center space-x-2">
        <a href="https://www.tiktok.com/@emag.contracting" target="_blank">
          <img src="/src/assets/tiktok.svg" alt="TikTok" class="w-8 h-8" />
        </a>
        <a href="https://www.instagram.com/emag_contracting" target="_blank">
          <img src="/src/assets/ig.svg" alt="Instagram" class="w-6 h-6" />
        </a>
      </div>
  
      <!-- Información de contacto -->
      <div class="flex items-center text-white text-[11px] space-x-4">
        <!-- Opciones -->
        <div class="text-left space-y-1 pt-5">
          <p>Ubication</p>
          <p>Phone</p>
          <p>Email</p>
        </div>
        <!-- Divider -->
        <div class="w-[1px] bg-white h-[80px] "></div>
        <!-- Datos -->
        <div class="text-left space-y-1">
          <p>New York</p>
          <p>(732) 852 9774</p>
            <p class="absolute right-200 ">Emaghr.business@gmail.com</p>
        </div>
      </div>
  
      <!-- Copyright -->
      <p class="text-[#999999] text-[12px] mt-6 font-semibold">
        © Copyright 2025 - EMAG CONTRACTING
      </p>
    </div>
  </footer>
  